<ion-header>
  <ion-toolbar>
    <ion-title size="large">Create a Chatroom</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form [formGroup]="createChatroomFrom" class="ion-padding">

    <ion-item>
      <ion-label position="floating">Chatgroup Name</ion-label>
      <ion-input formControlName="name" clearInput></ion-input>
    </ion-item>
    <div class="error-wrapper">
        <span class="error" *ngIf="name.hasError('required') && (name.dirty || name.touched)">
        A Name is required
      </span>
    </div>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" autocomplete="family-name" clearInput></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Unique Join String</ion-label>
      <ion-input formControlName="joinString" clearInput></ion-input>
    </ion-item>
    <div class="error-wrapper">
        <span class="error" *ngIf="joinString.hasError('required') && (joinString.dirty || joinString.touched)">
        A Join String is require to allow Users to join the Group
      </span>
    </div>

    <div style="flex: 1 auto"></div>

    <ion-button [appBtnLoading]="loading" color="primary" expand="block" [disabled]="createChatroomFrom.invalid"
                (click)="create()">
      Create
    </ion-button>

  </form>

</ion-content>
