main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    width: 150px;
  }

  h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--ion-color-secondary);
  }

  p {
    margin: 20px 50px;
    text-align: center;

    span {
      display: block;
      color: black;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  ion-button {
    width: 90%;
    margin-bottom: 10px;
    height: 45px;
  }

  a {
    margin-bottom: 10px;
  }
}
