.wrapper{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;

  p{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    cursor: pointer;

    ion-icon{
      margin-left: 5px;
      font-size: xx-large;
    }
  }
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;

  ion-item {
    width: 100%;
  }

  ion-button {
    width: 100%;
    margin-top: 15px;
    height: 45px;
  }
}
