.title-wrapper{
  display: flex;
  flex-flow: row;
  align-items: center;

  .profile-picture {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: lightgreen;
    border: 1.5px solid black;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
  }

  .title{
    font-weight: bolder;
  }
}

ion-fab-list[side="top"]{
  left: -150px;

  ion-button{
    width: 100%;
  }
}



