<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      <div class="title-wrapper" *ngIf="user$ | async as user">
        <div class="profile-picture" *ngIf="!user.profilePicture" routerLink="/settings">
          <span>{{user.firstName[0].toUpperCase()}}{{user.lastName[0].toUpperCase()}}</span>
        </div>
        <img class="profile-picture" *ngIf="user.profilePicture" routerLink="/settings" [src]="environment.imageURL+user.profilePicture">
        <div class="title">SimpleChatrooms</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-button color="primary">
        <ion-icon slot="start" name="add"></ion-icon>
        Create Chatroom
      </ion-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-button color="secondary">
        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
        Join Chatroom
      </ion-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
