<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="room$|async as room">
  <main>

    <app-change-room-picture [room]="room"></app-change-room-picture>

    <div class="wrapper">
      <p>
        {{room.name}}
      </p>

      <div>
        {{room.description}}
      </div>

      <div class="joinstring-wrapper">
        <strong>JoinString: </strong>
        <span>{{room.joinString}}</span>
      </div>
    </div>

    <ion-button color="primary" expand="block" [routerLink]="['/rooms',room.id,'edit']">Edit Room</ion-button>

    <div style="flex: 1 auto"></div>

    <ion-button color="warning" expand="block" (click)="leave(room.id)">Leave Room</ion-button>

  </main>
</ion-content>
