.wrapper{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  margin-top: 15px;

  .picture {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 60pt;
    background: lightgreen;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
  }

}
